__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
cache/
results/
data/input/*
!data/input/.gitkeep
*.pth
*.pt
*.trafl
*.pdb
*.pdbqt
!data/reference/
!data/reference/std_nucleotides/
!data/reference/std_nucleotides/*.pdb
!data/input/README.md
!data/input/SHA256SUMS.txt
!data/input/pfoa_ligand.pdbqt
